<h1>過去アニメ</h1>
<% @ads.each do |ad| %>
	<p><%= ad.ad %>年</p>
	<% @seasons.each do |season| %>
		<% @count = 0 %>
		<% @animations.each do |animation| %>
			<% if animation.finished==1 && animation.ad==ad.ad && animation.season==season.season && animation.viewer==@current_user.name %>
				<% @count += 1 %>
			<% end %>
		<% end %>
		<ul>
			<li><%= season.season %>アニメ(<%= @count %>本)
				<ul>
					<% @animations.each do |animation| %>
						<% if animation.finished==1 && animation.ad==ad.ad && animation.season==season.season && animation.viewer == @current_user.name %>
							<li>
								<%= link_to animation.title, animation_path(animation.id) %>
								<%= link_to "[編集]", edit_animation_path(animation.id) %>
								<%= link_to "[削除]", animation_path(animation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</li>
		</ul>
	<% end %>
<% end %>
<p><%= link_to "ホーム", animations_path %></p>
