<%= form_for @user do |f| %>
	<p>
		<%= f.label "ユーザ名" %><br>
		<%= f.text_field :name %><br>
		<%= f.label "パスワード" %><br>
		<%= f.password_field :password %><br>
		<%= f.label "パスワード確認" %><br>
		<%= f.password_field :password_confirmation %><br>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
