<!DOCTYPE html>
<html>
<head>
  <title>Anime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user %>
	<%= link_to "ログアウト", session_index_path, method: :delete %><br>
<% end %>
<%= image_tag "logo.jpeg" %>

<%= yield %>

</body>
</html>
